body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* justify-content: center; */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 calc(50% - 10px);
    /* Two columns */
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    /* Adjust the size as needed */
}

@media (max-width: 600px) {
    .logo {
        position: static;
        display: block;
        margin: 0 auto 20px;
    }

    .button-container {
        flex-direction: column;
    }

    .button-container button {
        flex: 1 1 100%;
    }
}